h1 {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        margin: 20px 0 50px 0;
        background-color: #efefef;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        padding: 10px;
        width: 35%;
        height: 33%;
        display: flex;
        justify-content: center;

        &:hover {
            box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
        }
    }
}